@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --background: white;
  --main-text: rgb(12, 12, 12);
  --link-text: #3a64b3;
  --table-header: white;
  --table-header-bg: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --main-text: #c2c3c7;
    --main-text: #c2c3c7;
    --link-text: #bbd2fc;
    --table-header: black;
    --table-header-bg: white;
  }
}

body {
  border: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--main-text);
  background-color: var(--background);
}

.hide {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

#toggleHeadersButton {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 0px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #0ea5e9;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 500ms;
}

@media (prefers-color-scheme: dark) {
  #toggleHeadersButton {
    color: white;
  }
}

#toggleHeadersButton:hover {
  background-color: #7dd3fc;
}

table {
  width: 100%;
  caption-side: bottom;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  counter-reset: serial-number;
}

table thead tr {
  border-bottom: 1px solid;
}

table td:first-child:before {
  counter-increment: serial-number;
  content: counter(serial-number);
}

table th {
  height: 48px;
  padding: 1rem;
  font-weight: 500;
  color: var(--table-header);
  background: var(--table-header-bg);
}

table td {
  padding: 16px;
}

table tbody tr {
  border-bottom: 1px solid;
}

a {
  text-decoration: none;
  color: var(--link-text);
}

a:hover {
  text-decoration: underline;
}

input {
  width: 6rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  border: black solid 1px;
}

form button {
  padding: 0.5rem;
  background-color: #0ea5e9;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 500ms;
}

select {
  padding: 0.5rem;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .season-cell {
    display: block;
  }
  .season-head {
    display: block;
    padding: 6px;
    height: min-content;
  }
  tr {
    border: 1px solid #ccc;
  }
  .season-head {
    border: 1px solid black;
  }
}
